.container {
  margin:0 24px;
}

.char-grid {
  display:flex;
  justify-content:space-between;
}

.char-grid p:first-child {
  flex: 1;
  text-align:left;
}

.char-grid p:first-child {
  flex: 1;
  text-align:left;
}

.char-grid p:not(:first-child) {
  padding-left: 12px;
}

.char-element {
  padding: 12px 0;
}

.text {
  padding:24px;
  border-radius:4px;
  background:#c6c1bc
}

.btn-disabled {
  background:red
}
